<!DOCTYPE html>
<html>
{% block head %}

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- scripts -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
{% endblock %}

{% block content %}

<body>
    <h1> Welcome to Valsys </h1>
    <div class="container"> </div>
</body>
{% endblock %}

</html>